<h1 style="text-align: center;">POSTS DATA </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="text-align: left;">
      <label for="userId">USER-ID</label>
      <select name="user" id="user" class="form-control" [(ngModel)]="userId" (change)="getpostbyuserId()">
        <option *ngFor="let users of userslist" value="{{users.id}}">{{users.name}}</option>
      </select>
    </div>
  </div>
</div>

<br>
<br>

<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
      </tr>
    </thead>
    <tbody *ngFor="let posts of postslist;">
      <tr>
        <td>{{posts.userId}}</td>
        <td>{{posts.id}}</td>
        <td>{{posts.title}}</td>
        <td>{{posts.body}}</td>
      </tr>
    </tbody>
  </table>
</div>
