<h1 style="text-align: center;">COMMENTS DATA </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="text-align: left;">
      <label for="albumID">Post-ID</label>
      <select name="post" id="post" class="form-control" [(ngModel)]="postId" (change)="getcommentbypostId()">
        <option *ngFor="let posts of postslist" value="{{posts.id}}">{{posts.title}}</option>
      </select>
    </div>
  </div>
</div>

<br><br>

<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>postId</th>
        <th>id</th>
        <th>name</th>
        <th>email`</th>
        <th>body</th>
      </tr>
    </thead>
    <tbody *ngFor="let comments of commentslist;">
      <tr>
        <td>{{comments.postId}}</td>
        <td>{{comments.id}}</td>
        <td>{{comments.name}}</td>
        <td>{{comments.email}}</td>
        <td>{{comments.body}}</td>
      </tr>
    </tbody>
  </table>
</div>
